<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Wishlist Hub - Вход / Регистрация</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div class="auth-container">
    <div id="app"></div>
</div>

<!-- Компоненты -->
<script src="js/login/loginForm.js"></script>
<script src="js/login/registerForm.js"></script>
<!-- Главное приложение -->
<script src="js/login/index.js"></script>
</body>
</html>